# Если хотим селфсни, то ставим true, свой домен и почту для выдачи сертификата
SELFSNI=false
DOMAIN=download.max.ru
EMAIL=
NAME=KYZYLYK
USERCOUNT=25
# Поддерживаемые транспорты: tcp, grpc, xhttp
TRANSPORT=tcp