# Если хотим селфсни, то ставим true, свой домен и почту для выдачи сертификата
SELFSNI=false
DOMAIN=download.max.ru
EMAIL=
NAME=KYZYLYK
USERCOUNT=50
# Поддерживаемые транспорты: tcp, grpc, xhttp
TRANSPORT=tcp


# Настройка для jump/double vless (вставить данные от exit скрипта)
#JUMP=true
#EXIT_IP=
#EXIT_PORT=
#EXIT_UUID=
#EXIT_PUBLIC_KEY=
#EXIT_SHORT_ID=
#EXIT_SNI_DEST=